<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyCourses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/leftBar.css" />
    <link rel="stylesheet" href="~/css/rightBar.css" />
    <link rel="stylesheet" href="~/css/core.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />

</head>
<body>

    
        <div class="navbar">
            <img class="navbar_icon navbar-closed" />
            <div id="navbar_layout">
                <a href="">MY PROFILE</a>
            <a href="/Courses/">MY COURSES</a>
                <a>CONTACTS</a>
            </div>
            <a href="/Cart/"><img class="cart" src="image/cart.png" /></a>
        </div>
   
       
     @RenderBody()


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/navbar.js?v=1.0"></script>
    <script src="~/js/desktop-navbar.js?v=1.0"></script>
    <script src="~/js/desktop-navigation.js?v=1.2"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>